<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h3 {text-align: center;}
h4 {text-align: right;}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<h3>Population Details - Country Wise</h3>
<h4><a href = "\">Home page</a></h4>
<table class="center">
  <tr>
    <th>Country</th>
    <th>Population</th>
	<th>Year</th> 
  </tr>
  {% for row in rows %}
  <tr>
    <td>{{ row["Country"] }}</td>
    <td>{{ row["Population"] }}</td>
	<td>{{ row["Year"] }}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>

